.wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.f-size-12 {
  font-size: 12px;
}


.section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-maps {
  background-color: black;
  height: 500px;
}

.card {
  height:20em;
  width:14em;
  margin: 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3,
  -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3,
  -15px -15px 27px #ffffff;
}

.card-image {
  height:9em;
  width:14em;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-repeat:no-repeat;
}

.card-info {
  padding-left: 8px;
}

.search-space {
  text-align: center;
  margin: 20px;
}

.search {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 25px;
}

select {
  height: 32px;
}

.detail-space {
  float: right;
  margin-right: 15px;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination {
  margin-top: 15px;
  text-align: center;
}

.container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  padding-left: 140px;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  width: 50%;
}

.slick-slide {
  padding-left: 10px;
  padding-top: 10px;
}

.slick-slider {
  width: 800px;
  height: 156px;
  margin-left: 300px;
  margin-top: 50px;
}

.slick-prev::before {
  content: "<";
  font-size: 30px;
  color: grey;
}

.slick-next::before {
  content: ">";
  color: grey;
  font-size: 30px;
}
